* {
    font-family:"Inter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 140px;
}


/* banner section styles */
.banner-section {
    margin-top: 50px;
    height: 90vh;
    background-image: url('./resources/banner-image.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner-section-text {
    text-align: center;
    padding: 350px 0;
    color: #fff;
}

.banner-section-text h4 {
    font-size: 30px;
    padding-bottom: 20px;
}

.banner-section-text h1 {
    font-size: 100px;
}

/* discount related styles */
.discount-section {
    text-align: center;
    margin-top: 50px;
}

.discount {
    color: #ff0000;
    font-size: 100px;
    padding-bottom: 30px;
}

.discount-section H4 {
    color: #ff0000;
    padding-bottom: 10px;
}

.discount-section H2 {
    font-size: 30px;
    padding-bottom: 50px;
}

/* party section related styles */

.party-section {
    margin-top: 100px;
    background-image: url('./resources/party.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    flex-direction: column;justify-content: center;
}

.party-container {
    padding-left: 150px;
}

.party-section h1 {
    color: #fff;
    font-size: 100px;
    padding-bottom: 20px;
}

.party-container P {
    color: #fff;
    max-width: 700px;
    font-size: 24px;
    padding-bottom: 100px;
    line-height: 1.5;
}

.btn {
    border: none;
    background-color: #fff;
    padding: 20px 50px;
    font-size: 25px;
    font-weight: 700;
}

/* address section */
.address-section {
    background-image: url('./resources/gradient-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    margin-top: 100px;
    text-align: center;
    padding-top: 100px;
}

.party-details {
    color: #323b43;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
}

.party-details span {
    color: #ff0000;
}

.red-btn {
    margin-top: 50px;
    outline: none;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-size: 30px;
    padding: 15px 30px;
    border-radius: 10px;
}

/* coming-soon section */
.coming-soon-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coming-soon-content {
    max-width: 33%;
}

.round-image {
    width: 463px;
}

.best-offer {
    font-size: 30px;
    font-weight: 500;
    color: #ff0000;
    padding-bottom: 20px;
}

.coming-soon {
    font-size: 80px;
    padding-bottom: 20px;
}
.offer-details {
    color: #323b43;
    font-size: 24px;
    line-height: 2;
    padding-bottom: 40px;
}

.year {
    font-size: 50px;
    color: #ff0000;
    padding-bottom: 20px;
}

.new-year-image {
    width: 200px;
}

/* sale section */
.sale-section {
    margin-top: 100px;
}
.sale-text {
    text-align: center;
}

.sale-text h1 {
    color: #ff0000;
    font-size: 80px;
}

.sale-text h1 span {
    color: #000;
}

.sale-text h3 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}

.sale-details {
    padding: 20px 350px;
    font-size: 20px;
    color: #323b43;
    line-height: 1.8;
}

/* product seciton */
.product-section {
    margin-top: 100px;
}

.product-section-text h3{
    color: #ff0000;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}

.product-section-text h1 {
    font-size: 60px;
    padding-bottom: 20px;
}

.product-section-text p {
    font-size: 20px;
    color: #323b43;
}

.product-container {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-container img {
    width: 100%;
}

/* newsletter-section */
.newsletter-section {
    margin-top: 100px;
    padding: 100px;
    text-align: center;
    background: #74d2e77e;
    border-radius: 20px;
}

.newsletter-section h1 {
    padding-top: 20px;
    font-size: 70px;
    color: #23292e;
}

.newsletter-section p {
    font-size: 20px;
    color: #323b43;
    padding: 20px 280px;
    line-height: 1.5;
}

.email {
    border: none;
    outline: none;
    padding: 20px 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.email:focus {
    outline: none;
}

.email::placeholder {
    color: #4d5b6893;
    font-size: 20px;
    font-weight: 300;
}

.submit {
    
}