* {
    font-family:"Inter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 140px;
}


/* banner section styles */
.banner-section {
    margin-top: 50px;
    height: 90vh;
    background-image: url('./resources/banner-image.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner-section-text {
    text-align: center;
    padding: 350px 0;
    color: #fff;
}

.banner-section-text h4 {
    font-size: 30px;
    padding-bottom: 20px;
}

.banner-section-text h1 {
    font-size: 100px;
}

/* discount related styles */
.discount-section {
    text-align: center;
    margin-top: 50px;
}

.discount {
    color: #ff0000;
    font-size: 100px;
    padding-bottom: 30px;
}

.discount-section H4 {
    color: #ff0000;
    padding-bottom: 10px;
}

.discount-section H2 {
    font-size: 30px;
    padding-bottom: 50px;
}

/* party section related styles */

.party-section {
    margin-top: 100px;
    background-image: url('./resources/party.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    flex-direction: column;justify-content: center;
}

.party-container {
    padding-left: 150px;
}

.party-section h1 {
    color: #fff;
    font-size: 100px;
    padding-bottom: 20px;
}

.party-container P {
    color: #fff;
    max-width: 700px;
    font-size: 24px;
    padding-bottom: 100px;
    line-height: 1.5;
}

.btn {
    border: none;
    background-color: #fff;
    padding: 20px 50px;
    font-size: 25px;
    font-weight: 700;
}

/* address section */
.address-section {
    background-image: url('./resources/gradient-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    margin-top: 150px;
    text-align: center;
    padding-top: 400px;
}

.party-details {
    color: #323b43;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
}

.party-details span {
    color: #ff0000;
}

.red-btn {
    margin-top: 50px;
    outline: none;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-size: 30px;
    padding: 15px 30px;
    border-radius: 10px;
}